body {
  overflow-x: hidden;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
  line-height: 1.75;
}

a {
  color: #0043fa;
}

a:hover {
  color: #0043fa;
}

.text-primary {
  color: #006cfa !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.page-section {
  padding: 100px 0;
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

::-moz-selection {
  background: #0043fa;
  text-shadow: none;
}

::selection {
  background: #0043fa;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #0043fa;
  border-color: #0043fa;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #0accfc !important;
  border-color: #0accfc !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(96, 171, 214, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 132, 255, 0.5) !important;
}


#new h1, h2, h3{
  color: rgba(61, 59, 59, 0.822);
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#main .container, #new .container {
  max-width: 1499px;
}
@media (min-width: 768px) {
  #main .container, #new .container {
    max-width: 680px;
  }
}

@media (min-width: 992px) {
  #main .container, #new .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  #main .container, #new .container {
    max-width: 1100px;
  }
}

@media (min-width: 1500px) {
  #main .container, #new .container {
    max-width: 1400px;
  }
}

/*-----Content for collapse----*/
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*----------*/
#main {
  margin-bottom: 5%;
  margin-top: 30%;
}
#main h3 {
  padding-top: 20px; 
  padding-bottom: 10px;
}
@media(min-width:800px){
  #main {
  margin-top: 20%;
  }
}
@media (min-width: 1200px) {
  #main {
    margin-top: 16%;
  }
}
@media (min-width: 1500px) {
  #main {
    margin-top: 10%;
  }
}
#main .modified  {
  padding-top: 0;
  width:100%;
  table-layout: auto;
   word-wrap: break-word;
  vertical-align: bottom;
}

#main .modified td {
  height: 50px;
}

#main .modified .btn {
  width: 80%;
  float: right;
  margin-right: 30px;
}

#main a.dofloat {
  float: right;
}


#main .people-loc-table a.nofloat, #main .top-travel-table a.nofloat {
  color: #0043fa;
}

#map {
  margin-top: 40px;
  width:100%;
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  z-index: 100001 !important;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-backdrop {
  z-index: 100000 !important;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #11a4b8;
  color: white;
}